<h2>Информация по Robostore</h2>
<div>
    <p>Если у вас есть какие-либо вопросы то можете обратиться по адресу: ул.Чехова д.2, ауд.И-110</p>
<email address="koleynikov@@sfedu.ru" content="Связаться с нами"></email>
</div>